.page {
    margin: 0 auto;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    background-color: #2A2C2F;
    color: #FFFFFF;
    overflow: hidden;
}

@media screen and (max-width: 320px) {
    .page {
        width: 320px;
    }
}

@media screen and (min-width: 1280px) {
    .page {
        width: 1280px;
    }
}