.photo-grid {
    margin: 0;
    display: grid;
    justify-content: center;
}

@media screen and (max-width: 320px) {
    .photo-grid {
        padding: 0 16px 0 16px;
        grid-template-columns: repeat(auto-fill, 288px);
        grid-template-rows: repeat(auto-fill, 216px);
        row-gap: 12px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 352px);
        grid-template-rows: repeat(auto-fill, 264px);
        gap: 16px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 352px);
        grid-template-rows: repeat(auto-fill, 225px);
        gap: 14px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 300px);
        grid-template-rows: repeat(auto-fill, 225px);
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 284px);
        grid-template-rows: repeat(auto-fill, 213px);
        gap: 16px;
    }
}