.places {
    padding: 92px 0 66px 0;
    display: flex;
}

@media screen and (max-width: 767px) {
    .places {
        padding-bottom: 66px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        padding-bottom: 90px;
    }

}

@media screen and (min-width: 1024px) {
    .places {
        padding-bottom: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        padding-left: 148px;
        padding-right: 148px;
    }
}