.places {
    display: grid;
    overflow:hidden
}

@media screen and (max-width: 767px) {
    .places {
        padding: 40px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        padding: 17px 0;
    }

}

@media screen and (min-width: 1024px) {
    .places {
        padding: 44px 0;
    }
}