.places__url {
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
}

@media screen and (max-width: 320px) {
    .places__url {
        width: 288px;
    }
}

@media screen and (min-width: 1280px) {
    .places__url {
        flex-direction: row;
    }
}