.places__url {
    margin: 0 0 12px 0;
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    flex-direction: row;
}

@media screen and (max-width: 1024px) {
    .places__url {
        flex-direction: column;
    }
}

@media screen and (max-width: 599px) {
    .places__url {
        margin-top: 32px;
        margin-bottom: 12px;
        width: 100%;
    }
}