.places__url {
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
}

@media screen and (max-width: 767) {
    .places__url {
        width: 288px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .places__url {
        flex-direction: row;
    }
}