.places__image {
    height: 460px;
}

@media screen and (max-width: 320px) {
    .places__image {
        width: 100%;
        height: 320px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .places__image {
        height: 340px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .places__image {
        height: 440px;
    }
}

@media screen and (min-width: 1280px) {
    .places__image {
        margin-right: 40px;
        height: 460px;
    }
}