.intro__lists {
    margin: 0;
    margin-bottom: 92px;
    margin-top: 33px;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width:1023px) {
    .intro__lists {
        margin-bottom: 88px;
    }
}

@media screen and (max-width:767px) {
    .intro__lists {
        margin-bottom: 64px;
    }
}