.lead__card {
    margin: 0 auto;
    width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__card {
        width: 928px;
    }
}

@media screen and (max-width: 946px) {
    .lead__card {
        width: 100%;
    }
}