.lead {
    padding: 0 148px 92px 148px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-right: 48px;
        padding-left: 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        padding-bottom: 64px;
    }
}