.cover__subtitle {
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        height: 48px;
        top: 119px;
        left: 16px;
        right: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 360px;
        height: 66px;
        top: 429px;
        left: 412px;
        right: 412px;
    }
}