.cover__subtitle {
    margin: 0;
    padding: 0;
    z-index: 1;
    font-weight: 400;
    text-align: center;
    width: 360px;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 0;
        width: 288px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
}