.title {
    margin: 56px auto 32px auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    align-self: center;
    max-width: 720px;
}

@media screen and (max-width: 1024px) {
    .title {
        margin-top: 48px;
        width: 100%;
    }
}

@media screen and (max-width: 694px) {
    .title {
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
        min-width: 288px;
    }
}