.places__text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .places__text {
        margin: 0 auto;
        width: 89.3%;
    }
}

@media screen and (min-width: 1280px) {
    .places__text {
        width: 484px;
    }
}