.header {
    padding: 0 24px 48px 24px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .header {
        padding-top: 16px;
        }
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 28px;
        }
}

