.footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        line-height: 16px;
    }
}