.places__card {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
}

.places__card:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .places__card {
        margin-bottom: 72px;
    }
}

@media screen and (max-width: 767px) {
    .places__card {
        margin-bottom: 50px;
    }
}