.places__card {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .places__card {
        margin-bottom: 50px;
    }    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places__card {
        margin-bottom: 73px;
    }    
}

@media screen and (min-width: 1024px) {
    .places__card {
        margin-bottom: 80px;
    }    
}

.places__card:last-child {
    margin-bottom: 0;
}