.intro__text {
    margin: 40px 0 33px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    text-align: left;
}

@media screen and (min-width: 1280px) {
    .intro__text  {
        margin-right: 148px;
        width: 690px;
    }
}