.cover {
    margin: 0 auto 92px auto;
    z-index: 0;
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-bottom: 64px;
    }
}