.cover__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url('../../../images/cover_baikal.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    background-size: cover;
    height: 100%;
}

.cover__image:hover {
    background-image: linear-gradient(rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url('../../../images/cover_baikal.png');
}

@media screen and (max-width: 768px) {
    .cover__image {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover__image {
        margin-bottom: 64px;
    }
}