.cover__image {
    position: relative;
    opacity: 0.8;
    background-image: url('../../../images/cover_baikal.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    width: 100%;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .cover__image {
        height: 200px;
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__image {
        height: 480px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__image {
        height: 640px;
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__image {
        height: 740px;
        margin-bottom: 92px;
    }
}