.cover__title {
    margin: 0;
    position: absolute;
    z-index: 1;
    font-weight: 900;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        top: 33px;
        left: 16px;
        right: 16px;
        width: 288px;
        height: 70px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        top: 115px;
        left: 104px;
        right: 104px;
        width: 560px;
        height: 152px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        top: 195px;
        left: 232px;
        right: 232px;
        width: 560px;
        height: 152px;
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        font-size: 72px;
        line-height: 76px;
        top: 245px;
        left: 312px;
        right: 312px;
        width: 560px;
        height: 152px;
    }
}