.cover__title {
    margin: 0;
    position: absolute;
    top: 245px;
    left: 312px;
    right: 312px;
    z-index: 1;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    width: 560px;
    height: 112px;
}