.cover__title {
    margin: 0;
    z-index: 1;
    font-weight: 900;
    text-align: center;
    width: 560px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
        width: 0;
        width: 288px;
    }
}

@media screen and (min-width: 768px)  {
    .cover__title {
        margin-bottom: 32px;
        font-size: 72px;
        line-height: 76px;
    }
}