.places__blank {
    margin: 0 0 48px 0;
    padding: 0;
    display: flex;
}


@media screen and (max-width: 767px) {
    .places__blank {
        margin-bottom: 0;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places__blank {
        flex-direction: row;
        margin-bottom: 48px;
    }

    .places__blank:last-child {
        margin-bottom: 73px;
    }
}

@media screen and (min-width: 1024px) {
    .places__blank {
        flex-direction: row;
    }
}