.footer {
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (max-width: 767px) {
    .footer {
        padding-right: 16px;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer {
        padding-right:  24px;
        padding-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding-right:  48px;
        padding-left: 48px; 
    }
}