.footer {
    padding: 0 48px 24px 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding-right:  24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-left: 16px;
        flex-direction: column;
    }
}