.places__cards {
    margin: 0 auto 0 auto;
    padding: 0;
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .places__cards {
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places__cards {
        width: 93.5%;
    }
}