.places__cards {
    margin: auto;
    padding: 0;
    list-style-type: none;
    width: 90%;
    align-items: center;
}


@media screen and (min-width: 1280px) {
    .places__cards {
        width: 100%;
    }
}