.intro__title {
    font-weight: 900;
}

@media screen and (max-width: 767px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
        height: 88px;
    }
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
        width: 720px;
    }
}